<div id="filter-region">

  <div class="tol-view-filters row-fluid">
    <div class="col8">

      <span class="add-on"><i class="icon-filter"></i>Show: </span>

      <div class="btn-group" data-toggle="buttons-checkbox" value="learningUnit.typeName">

        <button class="btn active tol-filter-button" value="Community">Community</button>

        <button class="btn active tol-filter-button" value="Course">Course</button>

      </div>

      <div class="btn-group" data-toggle="buttons-checkbox" value="learningUnit.academicYearName">

        <button class="btn active tol-filter-button" value="2012 - 2013">2012 - 2013</button>

        <button class="btn active tol-filter-button" value="2013 - 2014">2013 - 2014</button>

      </div>

    </div>
    <div class="col4 tol-filter-text">
        <div class="form-search">                
            <div class="input-append">
                <input type="text" placeholder="Search ..." class="span10 search-query" autofocus="">
                <button type="reset" class="btn"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
    </div>
  </div>

</div>
<div id="enrollments-region"></div>